# Bank Loan Term Prediction
---

## Import packages & read data.

In [43]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Visualization imports
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# Modeling imports
from sklearn.model_selection import train_test_split

In [44]:
df1 = pd.read_csv('credit_train.csv')
df2 = pd.read_csv('credit_test.csv')
df= pd.concat([df1,df2], axis=0, ignore_index=True)   # concat two dataset
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.shape

(110867, 19)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110867 entries, 0 to 110866
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       110000 non-null  object
 1   Customer ID                   110000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           110000 non-null  float64
 4   Term                          110000 non-null  object
 5   Credit Score                  88865 non-null   float64
 6   Annual Income                 88865 non-null   float64
 7   Years in current job          105351 non-null  object
 8   Home Ownership                110000 non-null  object
 9   Purpose                       110000 non-null  object
 10  Monthly Debt                  110000 non-null  float64
 11  Years of Credit History       110000 non-null  float64
 12  Months since last delinquent  51553 non-null   float64
 13  Number of Open Accounts       110000 non-null  float64
 14  Number of Credit Problems     110000 non-null  float64
 15  Current Credit Balance        110000 non-null  float64
 16  Maximum Open Credit           109998 non-null  float64
 17  Bankruptcies                  109774 non-null  float64
 18  Tax Liens                     109989 non-null  float64
dtypes: float64(12), object(7)
memory usage: 16.1+ MB

In [47]:
duplicate = df1.duplicated()
print(f'Duplicate in df1 :', duplicate.sum())

Duplicate in df1 : 10728

In [48]:
duplicate = df2.duplicated()
print(f'Duplicate in df2 :', duplicate.sum())

Duplicate in df2 : 352

In [49]:
duplicate = df.duplicated()
print(f'Duplicate in df :', duplicate.sum())

Duplicate in df : 11081

In [50]:
seed=30

In [51]:
df_train, df_test = train_test_split(df ,test_size=0.2,random_state=seed )

In [52]:
df_train

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
60078,e4d51ef4-0062-4367-8345-543cf2c4d80b,1f9c4942-e2ba-46fc-8aad-095e1f13e78e,Fully Paid,756140.0,Long Term,725.0,5970560.0,1 year,Rent,Debt Consolidation,33385.28,16.0,16.0,7.0,0.0,1057426.0,1652332.0,0.0,0.0
11355,a3d58213-8e70-463b-b8fd-bbb2998a1170,5c91d586-39fe-4bf0-86af-ca379fc5e4f0,Charged Off,448316.0,Long Term,7410.0,1858466.0,1 year,Own Home,Debt Consolidation,1533.30,15.8,12.0,11.0,0.0,55309.0,660242.0,0.0,0.0
42219,581d8a77-10e3-4343-bd3c-be20df9fa8b7,03cd7365-a09a-4981-b3a2-dff909e228ef,Fully Paid,155716.0,Short Term,718.0,1536872.0,3 years,Rent,Debt Consolidation,23181.14,9.7,60.0,10.0,1.0,90934.0,194964.0,1.0,0.0
68357,3c1b298e-fa0b-4d0b-bc6c-1b5f501fd4a0,2ad1fdc5-9525-46f2-9da3-ba326d1f297b,Fully Paid,219274.0,Short Term,726.0,1325611.0,4 years,Rent,Debt Consolidation,22314.36,10.0,NaN,11.0,0.0,314735.0,594528.0,0.0,0.0
94916,96c491a6-9bf9-4a2b-8a6e-dab3e2a1b160,94d68001-e4e2-40d7-be93-975cfa9152ba,Fully Paid,320430.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,40478.93,17.8,NaN,10.0,0.0,295982.0,448580.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98804,1da5c764-62a8-4383-87ba-f99798a61216,1c1d198b-7622-4b1b-aee4-3d09deae8b65,Fully Paid,512952.0,Long Term,685.0,1460492.0,10+ years,Rent,Debt Consolidation,21907.19,15.2,NaN,24.0,1.0,92929.0,747208.0,1.0,0.0
110381,aee7139c-0877-4b10-b54a-f5ce69e46b6d,f36808af-ffb7-44c7-a6e5-a3e58712bab6,NaN,272162.0,Short Term,710.0,1044696.0,2 years,Rent,Debt Consolidation,13929.09,6.9,34.0,9.0,0.0,152874.0,426514.0,0.0,0.0
48045,48b3c845-7d25-474a-aa29-31083839578b,142a161b-db81-4c3b-8073-51400e6b18ca,Charged Off,547756.0,Long Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,13974.88,22.4,NaN,12.0,0.0,725097.0,1399332.0,0.0,0.0
70053,bf90d3e2-9610-42df-9d0e-2064f8de7347,85e91b54-68ad-481e-8137-fa5b60a3bea5,Fully Paid,70048.0,Short Term,NaN,NaN,1 year,Rent,Buy a Car,4384.44,8.9,NaN,15.0,0.0,25175.0,43780.0,0.0,0.0
38693,72dc9ec9-229b-4530-8067-f9403c1b852d,82088fdf-2bc0-4534-bba9-17c0bf8a3248,Fully Paid,658812.0,Long Term,656.0,3508673.0,10+ years,Home Mortgage,Debt Consolidation,34794.32,36.5,2.0,17.0,0.0,420033.0,978582.0,0.0,0.0

In [53]:
df_train.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
60078,e4d51ef4-0062-4367-8345-543cf2c4d80b,1f9c4942-e2ba-46fc-8aad-095e1f13e78e,Fully Paid,756140.0,Long Term,725.0,5970560.0,1 year,Rent,Debt Consolidation,33385.28,16.0,16.0,7.0,0.0,1057426.0,1652332.0,0.0,0.0
11355,a3d58213-8e70-463b-b8fd-bbb2998a1170,5c91d586-39fe-4bf0-86af-ca379fc5e4f0,Charged Off,448316.0,Long Term,7410.0,1858466.0,1 year,Own Home,Debt Consolidation,1533.30,15.8,12.0,11.0,0.0,55309.0,660242.0,0.0,0.0
42219,581d8a77-10e3-4343-bd3c-be20df9fa8b7,03cd7365-a09a-4981-b3a2-dff909e228ef,Fully Paid,155716.0,Short Term,718.0,1536872.0,3 years,Rent,Debt Consolidation,23181.14,9.7,60.0,10.0,1.0,90934.0,194964.0,1.0,0.0
68357,3c1b298e-fa0b-4d0b-bc6c-1b5f501fd4a0,2ad1fdc5-9525-46f2-9da3-ba326d1f297b,Fully Paid,219274.0,Short Term,726.0,1325611.0,4 years,Rent,Debt Consolidation,22314.36,10.0,NaN,11.0,0.0,314735.0,594528.0,0.0,0.0
94916,96c491a6-9bf9-4a2b-8a6e-dab3e2a1b160,94d68001-e4e2-40d7-be93-975cfa9152ba,Fully Paid,320430.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,40478.93,17.8,NaN,10.0,0.0,295982.0,448580.0,0.0,0.0

In [54]:
df_train.tail()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
98804,1da5c764-62a8-4383-87ba-f99798a61216,1c1d198b-7622-4b1b-aee4-3d09deae8b65,Fully Paid,512952.0,Long Term,685.0,1460492.0,10+ years,Rent,Debt Consolidation,21907.19,15.2,NaN,24.0,1.0,92929.0,747208.0,1.0,0.0
110381,aee7139c-0877-4b10-b54a-f5ce69e46b6d,f36808af-ffb7-44c7-a6e5-a3e58712bab6,NaN,272162.0,Short Term,710.0,1044696.0,2 years,Rent,Debt Consolidation,13929.09,6.9,34.0,9.0,0.0,152874.0,426514.0,0.0,0.0
48045,48b3c845-7d25-474a-aa29-31083839578b,142a161b-db81-4c3b-8073-51400e6b18ca,Charged Off,547756.0,Long Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,13974.88,22.4,NaN,12.0,0.0,725097.0,1399332.0,0.0,0.0
70053,bf90d3e2-9610-42df-9d0e-2064f8de7347,85e91b54-68ad-481e-8137-fa5b60a3bea5,Fully Paid,70048.0,Short Term,NaN,NaN,1 year,Rent,Buy a Car,4384.44,8.9,NaN,15.0,0.0,25175.0,43780.0,0.0,0.0
38693,72dc9ec9-229b-4530-8067-f9403c1b852d,82088fdf-2bc0-4534-bba9-17c0bf8a3248,Fully Paid,658812.0,Long Term,656.0,3508673.0,10+ years,Home Mortgage,Debt Consolidation,34794.32,36.5,2.0,17.0,0.0,420033.0,978582.0,0.0,0.0

In [55]:
df_train=df_train.reset_index()

In [56]:
df_train=df_train.drop(['index'], axis=1)

In [57]:
df_train.head(5)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,e4d51ef4-0062-4367-8345-543cf2c4d80b,1f9c4942-e2ba-46fc-8aad-095e1f13e78e,Fully Paid,756140.0,Long Term,725.0,5970560.0,1 year,Rent,Debt Consolidation,33385.28,16.0,16.0,7.0,0.0,1057426.0,1652332.0,0.0,0.0
1,a3d58213-8e70-463b-b8fd-bbb2998a1170,5c91d586-39fe-4bf0-86af-ca379fc5e4f0,Charged Off,448316.0,Long Term,7410.0,1858466.0,1 year,Own Home,Debt Consolidation,1533.30,15.8,12.0,11.0,0.0,55309.0,660242.0,0.0,0.0
2,581d8a77-10e3-4343-bd3c-be20df9fa8b7,03cd7365-a09a-4981-b3a2-dff909e228ef,Fully Paid,155716.0,Short Term,718.0,1536872.0,3 years,Rent,Debt Consolidation,23181.14,9.7,60.0,10.0,1.0,90934.0,194964.0,1.0,0.0
3,3c1b298e-fa0b-4d0b-bc6c-1b5f501fd4a0,2ad1fdc5-9525-46f2-9da3-ba326d1f297b,Fully Paid,219274.0,Short Term,726.0,1325611.0,4 years,Rent,Debt Consolidation,22314.36,10.0,NaN,11.0,0.0,314735.0,594528.0,0.0,0.0
4,96c491a6-9bf9-4a2b-8a6e-dab3e2a1b160,94d68001-e4e2-40d7-be93-975cfa9152ba,Fully Paid,320430.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,40478.93,17.8,NaN,10.0,0.0,295982.0,448580.0,0.0,0.0

In [58]:
df_train.shape

(88693, 19)

In [59]:
df_train.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [60]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88693 entries, 0 to 88692
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       87981 non-null  object
 1   Customer ID                   87981 non-null  object
 2   Loan Status                   79997 non-null  object
 3   Current Loan Amount           87981 non-null  float64
 4   Term                          87981 non-null  object
 5   Credit Score                  71010 non-null  float64
 6   Annual Income                 71010 non-null  float64
 7   Years in current job          84286 non-null  object
 8   Home Ownership                87981 non-null  object
 9   Purpose                       87981 non-null  object
 10  Monthly Debt                  87981 non-null  float64
 11  Years of Credit History       87981 non-null  float64
 12  Months since last delinquent  41170 non-null  float64
 13  Number of Open Accounts       87981 non-null  float64
 14  Number of Credit Problems     87981 non-null  float64
 15  Current Credit Balance        87981 non-null  float64
 16  Maximum Open Credit           87979 non-null  float64
 17  Bankruptcies                  87805 non-null  float64
 18  Tax Liens                     87973 non-null  float64
dtypes: float64(12), object(7)
memory usage: 12.9+ MB

In [61]:
df_train.dtypes

Loan ID                          object
Customer ID                      object
Loan Status                      object
Current Loan Amount             float64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job             object
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent    float64
Number of Open Accounts         float64
Number of Credit Problems       float64
Current Credit Balance          float64
Maximum Open Credit             float64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [62]:
df_train.isnull().sum()

Loan ID                           712
Customer ID                       712
Loan Status                      8696
Current Loan Amount               712
Term                              712
Credit Score                    17683
Annual Income                   17683
Years in current job             4407
Home Ownership                    712
Purpose                           712
Monthly Debt                      712
Years of Credit History           712
Months since last delinquent    47523
Number of Open Accounts           712
Number of Credit Problems         712
Current Credit Balance            712
Maximum Open Credit               714
Bankruptcies                      888
Tax Liens                         720
dtype: int64

In [63]:
df_train['Loan ID'].unique

<bound method Series.unique of 0        e4d51ef4-0062-4367-8345-543cf2c4d80b
1        a3d58213-8e70-463b-b8fd-bbb2998a1170
2        581d8a77-10e3-4343-bd3c-be20df9fa8b7
3        3c1b298e-fa0b-4d0b-bc6c-1b5f501fd4a0
4        96c491a6-9bf9-4a2b-8a6e-dab3e2a1b160
                         ...
88688    1da5c764-62a8-4383-87ba-f99798a61216
88689    aee7139c-0877-4b10-b54a-f5ce69e46b6d
88690    48b3c845-7d25-474a-aa29-31083839578b
88691    bf90d3e2-9610-42df-9d0e-2064f8de7347
88692    72dc9ec9-229b-4530-8067-f9403c1b852d
Name: Loan ID, Length: 88693, dtype: object>

In [64]:
df_train=df_train.dropna(subset=['Loan ID'])

In [65]:
df_train=df_train.drop_duplicates(keep=False)

In [66]:
df_train.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                      7984
Current Loan Amount                 0
Term                                0
Credit Score                    16971
Annual Income                   16971
Years in current job             3099
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    40563
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      156
Tax Liens                           6
dtype: int64

In [67]:
df_train['Loan Status'].unique

<bound method Series.unique of 1        Charged Off
3         Fully Paid
4         Fully Paid
6         Fully Paid
8        Charged Off
            ...
88687     Fully Paid
88689            NaN
88690    Charged Off
88691     Fully Paid
88692     Fully Paid
Name: Loan Status, Length: 74839, dtype: object>

In [91]:
#mode = df_train['Loan Status'].mode()

In [92]:
#df_train['Loan Status'].fillna(mode, inplace=True)

In [93]:
#df_train['Loan Status'].value_counts()

Fully Paid     48636
Charged Off    18219
Name: Loan Status, dtype: int64

In [94]:
#df_train['Loan Status'].isnull().sum()

7984

In [98]:
#df_train['Loan Status'].unique

<bound method Series.unique of 1        Charged Off
3         Fully Paid
4         Fully Paid
6         Fully Paid
8        Charged Off
            ...
88687     Fully Paid
88689            NaN
88690    Charged Off
88691     Fully Paid
88692     Fully Paid
Name: Loan Status, Length: 74839, dtype: object>

In [100]:
#df_train['Loan Status'].fillna(df_train['Loan Status'].mode())

1        Charged Off
3         Fully Paid
4         Fully Paid
6         Fully Paid
8        Charged Off
            ...
88687     Fully Paid
88689            NaN
88690    Charged Off
88691     Fully Paid
88692     Fully Paid
Name: Loan Status, Length: 74839, dtype: object

In [101]:
#df_train['Loan Status'].fillna(df_train['Loan Status'].mode(), inplace=True)

In [102]:
df_train.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                      7984
Current Loan Amount                 0
Term                                0
Credit Score                        0
Annual Income                       0
Years in current job             3099
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    40563
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      156
Tax Liens                           6
dtype: int64

In [82]:
df_train['Credit Score'].unique

<bound method Series.unique of 1        7410.0
3         726.0
4           NaN
6           NaN
8        7040.0
          ...
88687     718.0
88689     710.0
88690       NaN
88691       NaN
88692     656.0
Name: Credit Score, Length: 74839, dtype: float64>

In [83]:
median = df_train['Credit Score'].median()

In [84]:
df_train['Credit Score'].fillna(median, inplace=True)

In [85]:
df_train['Credit Score'].unique

<bound method Series.unique of 1        7410.0
3         726.0
4         731.0
6         731.0
8        7040.0
          ...
88687     718.0
88689     710.0
88690     731.0
88691     731.0
88692     656.0
Name: Credit Score, Length: 74839, dtype: float64>

In [86]:
df_train.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                      7984
Current Loan Amount                 0
Term                                0
Credit Score                        0
Annual Income                   16971
Years in current job             3099
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    40563
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      156
Tax Liens                           6
dtype: int64

In [87]:
df_train['Annual Income'].unique

<bound method Series.unique of 1        1858466.0
3        1325611.0
4              NaN
6              NaN
8         892449.0
           ...
88687    1146042.0
88689    1044696.0
88690          NaN
88691          NaN
88692    3508673.0
Name: Annual Income, Length: 74839, dtype: float64>

In [88]:
median2 = df_train['Annual Income'].median()

In [89]:
df_train['Annual Income'].fillna(median, inplace=True)

In [90]:
df_train['Annual Income'].unique

<bound method Series.unique of 1        1858466.0
3        1325611.0
4            731.0
6            731.0
8         892449.0
           ...
88687    1146042.0
88689    1044696.0
88690        731.0
88691        731.0
88692    3508673.0
Name: Annual Income, Length: 74839, dtype: float64>

In [104]:
df_train['Years in current job'].fillna(df_train['Years in current job'].mode())

1           1 year
3          4 years
4        10+ years
6          6 years
8           1 year
           ...
88687    10+ years
88689      2 years
88690     < 1 year
88691       1 year
88692    10+ years
Name: Years in current job, Length: 74839, dtype: object

In [106]:
df_train=df_train.dropna(subset=['Years in current job'])

In [107]:
df_train.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                      7662
Current Loan Amount                 0
Term                                0
Credit Score                        0
Annual Income                       0
Years in current job                0
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    38871
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      156
Tax Liens                           6
dtype: int64